# Análise dos Resultados - Mega Sena
###### Fonte: Caixa Econômica Federal

## Dicionário dos Dados

| Nome da Variável | Descrição | Tamanho | Tipo | Exemplo |
| --- | --- | --- | --- | --- |
| NO_MUNICIPIO_RESIDENCIA | Nome do município de residência | 150 | Alfanumérico | Rio de Janeiro |
| SG_UF_RESIDENCIA | Sigla da Unidade da Federação de residência | 2 | Alfanumérico | RJ |
| NU_IDADE | Idade | 3 | Alfanumérico | 23 |
| TP_COR_RACA | Cor/raça | 1 | Numérico | Branca |
| TP_ESCOLA | Tipo de escola do Ensino Médio | 1 | Numérico | Pública |
| IN_NOME_SOCIAL | Indicador de inscrito que se declarou travesti, transexual ou transgênero e solicitou atendimento pelo Nome Social, conforme é reconhecido socialmente em consonância com sua identidade de gênero | 1 | Numérico | Sim/Não |
| Q025 | Na sua residência tem acesso à Internet? | 1 | Alfanumérico | Sim/Não |

In [5]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import folium
from folium import plugins

dados = pd.read_csv('Dados/mega_sena.csv', sep = ';')

geo_json = json.load(open('br_states.json'))

cidades = pd.read_csv('Cidades.csv')
cidades = cidades.set_index('nome')

In [6]:
dados.head()

,Concurso,Data Sorteio,1ª Dezena,2ª Dezena,3ª Dezena,4ª Dezena,5ª Dezena,6ª Dezena,Arrecadacao_Total,Ganhadores_Sena,...,UF,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio,Acumulado_Mega_da_Virada
0,1,11/03/1996,41,5,4,52,30,33,000,0,...,NaN,000,17,39.15892,2016,33021.0,SIM,1.714.65023,000,000
1,2,18/03/1996,9,39,37,49,43,41,000,1,...,PR,2.307.16223,65,14.42402,4488,20891.0,NÃO,000,000,000
2,3,25/03/1996,36,30,10,11,29,47,000,2,...,RN,391.19251,62,10.51593,4261,15301.0,NÃO,000,000,000
3,3,25/03/1996,36,30,10,11,29,47,000,2,...,SP,391.19251,62,10.51593,4261,15301.0,NÃO,000,000,000
4,4,01/04/1996,6,59,42,27,1,5,000,0,...,NaN,000,39,15.32224,3311,18048.0,SIM,717.08075,000,000

In [3]:
def GerarMapa(dados, legenda, pontos = None):
    
    mapa = folium.Map([-15.788497, -47.879873], zoom_start=4)

    choropleth = folium.Choropleth(
        geo_data=geo_json,
         name='choropleth',
         data=dados,
         columns=['SG_UF_RESIDENCIA', 'counts'],
         key_on='feature.id',
         fill_color='YlOrRd',
         fill_opacity = 1,
         line_color = 'black',
         tooltip = 'Teste',
         marker_line_color='white',
         legend_name=legenda,
         highlight=True
    ).add_to(mapa)
    
    if pontos is not None:
        for i in range(0, len(pontos)):
            choropleth = folium.Circle(
                name='pontos',
                location = [pontos.iloc[i]['latitude'], pontos.iloc[i]['longitude']],
                color = '#00FF69',
                fill = '00A1B3',
                tooltip = ' Cidade: ' + str(pontos.iloc[i]['NO_MUNICIPIO_RESIDENCIA']) + 
                          ' Quantidade: '  + str(pontos.iloc[i]['counts']),
                radius = (pontos.iloc[i]['counts'] ** 1.1)
            ).add_to(mapa)
                        
    return mapa

def GerarGrafico(dados, legenda):
    valores = list(dados['counts'].values)
    sticks = list(dados['SG_UF_RESIDENCIA'].values)

    plt.rcParams['figure.figsize'] = (11,7)
    plt.bar(sticks,valores)
    plt.xlabel('Estados')
    plt.ylabel("Candidatos")
    plt.title(legenda)
    plt.grid(zorder=0)

    return plt.show()